@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-track{background: var(--cor6);}
::-webkit-scrollbar-thumb{background-color: var(--cor1); border-radius: 10px; border: 1px solid var(--cor6);}
::-webkit-scrollbar-thumb:hover{background-color: var(--cor3); cursor: pointer;}

* {margin: 0; padding: 0; font-family: 'Signika Negative', sans-serif;}
html
{
    scroll-behavior: smooth;
}

a
{
    text-decoration: underline;
    color: var(--cor6);
    transition: 0.2s;
}
a:hover
{
    color: white;
}

body
{
    background-color: var(--cor1);
    position: relative;
}


:root
{
    --cor1: #7F9BB0;
    --cor2: #778087;
    --cor3: #79B1DB;
    --cor4: #45525C;
    --cor5: #1E2A33;
    --cor6: #152633;
}

button.topo
{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--cor6);
    border-radius: 50%;
    color: var(--cor6);
    padding: 5px 10px;
    position: fixed;
    top: 90%;
    left: 90%;
    transition: 0.2s;
}

button.topo:hover
{
    transform: scale(1.9);
    background-color: var(--cor6);
    color: var(--cor3);
}

header
{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: var(--cor6);
    color: white;
    height: 50px;
}

img#logoprf, img#livrocontent
{
    width: 30px;
    margin-right: 10px;
}

button.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    color: var(--cor3);
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

button.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 0.2s;
    background-color: transparent;
    color: var(--cor3);
    box-shadow: 0px 5px 0px var(--cor3);
    border: none;
}

button.content:hover
{
    color: var(--cor6);
    background-color: var(--cor3);
    box-shadow: 0px 0px 0px var(--cor3);
}

main
{
    color: var(--cor6);
    width: 700px;
    margin: auto;
    padding: 90px 10px 10px 10px;
}

footer
{
    height: 300px;
}

div.materias
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

div.disciplina
{
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 200px;
    width: 200px;
    margin: 12px;
    box-shadow: 0px 0px 10px var(--cor6);
    transition: 0.2s;
    color: white;
    font-weight: bolder;
}

div.disciplina:hover
{
    transform: scale(1.1);
}

div#port
{
    background-image: url(../images/port.png);
}

div#dadm
{
    background-image: url(../images/dadm.png);
}

div#dcons
{
    background-image: url(../images/dcons.png);
}

div#info
{
    background-image: url(../images/info.png);
}

div#rlog
{
    background-image: url(../images/rlog.png);
}

div#dpen
{
    background-image: url(../images/dpen.png);
}

div#ctb
{
    background-image: url(../images/ctb.png);
}

div#dpp
{
    background-image: url(../images/dpp.png);
}

div#geo
{
    background-image: url(../images/geo.png);
}

div#dh
{
    background-image: url(../images/dh.png);
}

div#fis
{
    background-image: url(../images/fis.png);
}

div#ebook
{
    background-image: url(../images/ebook.png);
}

div.videoaula
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
